* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    width: 146px;
    height: 48px;
    border-radius: 25px;
}

button:hover {
    background-color: transparent;
    border: 2px solid hsla(0, 0%, 100%, 1);
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin-top: 0;
    margin-bottom: 25px;
}

main {
    display: flex;
    max-width: 920px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    margin-bottom: 83px;
}

svg {
    margin-bottom: 35px;
}

.attribution {
    font-size: 11px;
    margin-top: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.box {
    width: 307px;
    height: 500px;
}

.content-area {
    margin: 48px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    width: 307px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.luxury button:hover {
    color: hsla(0, 0%, 100%, 1);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.sedans button {
    color: hsl(31, 77%, 52%);
}

.sedans button:hover {
    color: hsla(0, 0%, 100%, 1);;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.suvs button:hover {
    color: hsla(0, 0%, 100%, 1);
}

@media (max-width: 920px) {
    main {
        display: unset;
        position: unset;
        left: unset;
    }

    p {
        margin-bottom: 25px;
    }

    .box {
        width: 327px;
        height: 442px;
        margin: 0;
        display: flex;
    }

    .luxury {
        width: 327px;
        margin-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-bottom: 10px;

    }

    .sedans {
        background-color: hsl(31, 77%, 52%);
        border-bottom-left-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}