:root {
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html body {
    width: 100vw;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: hsl(240, 10%, 57%);
    text-align: center;
    margin: 0;
}

button {
    color: hsl(0, 0%, 98%);
    font-size: 1rem;
    font-weight: 900;
    border: none;
    border-radius: 29px;
}

h1 {
    color: hsl(240, 21%, 20%);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
    margin-top: 48px;
    margin-bottom: 0;
}

h2 {
    color: hsl(192, 37%, 48%);
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 900;
    margin-top: 64px;
    margin-bottom: 0;
    letter-spacing: 4px;
}

h3 {
    color: hsl(240, 21%, 20%);
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.25rem;
    width: 327px;
    margin-top: 24px;
    margin-bottom: 0;
}

h4 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.25rem;
    margin-top: 36px;
    margin-bottom: 0;
}

p {
    width: 327px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat p {
    margin-top: 24px;
}

.chat .download {
    margin-top: 32px;
    background-color: hsl(192, 37%, 48%);
}

.chat .download:hover {
    background-color: hsl(192, 90%, 77%);
}

.chat .info:hover {
    background-color: hsl(268, 100%, 86%);
}

.chat span {
    color: hsl(191, 62%, 70%);
}

.circle {
    border: 1px solid hsl(240, 10%, 80%);
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.1rem;
    height: 3.1rem;
    background-color: hsl(0, 0%, 98%);
}

.color-layer {
    background-color: hsla(192, 37%, 48%, 0.9);
    width: 100vw;
    height: 428px;
}

.download {
    width: 193px;
    height: 58px;
}

.footer {
    background: url("../assets/mobile/image-footer.jpg") no-repeat;
    background-size: 100vw;
    height: 428px;
    color: hsl(0, 0%, 98%);
}

.footer .download {
    margin-top: 32px;
    background-color: hsl(268, 34%, 53%);
}

.footer .download:hover {
    background-color: hsl(268, 100%, 86%);
}

.footer span {
    color: hsl(268, 78%, 80%);
}

.footer p {
    margin-top: 24px;
    font-size: 1.125rem;
    margin-bottom: 0;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 52px 12px 0 12px;
}

.images img {
    border-radius: 11px;
    width: 151px;
    height: auto;
    margin: 12px;
}

.img-hero-full {
    width: 110vw;
    transform: translate(-5vw);
}

.img-hero-left {
    visibility: hidden;
    width: 0;
    height: 0;
}

.img-hero-right {
    visibility: hidden;
    width: 0;
    height: 0;
}

.info {
    background-color: hsl(268, 34%, 53%);
    width: 139px;
    height: 58px;
    margin-top: 16px;
}

.line {
    width: 1rem;
    height: 5rem;
    border-right: 1px solid hsl(240, 10%, 80%);
    margin: 0;
    transform: translate(.6rem);
}

.logo {
    margin-top: 51px;
    margin-bottom: 56px;
}

.meetings p {
    margin-top: 32px;
}

.numbers {
    margin-top: 64px;
}

.meetings .numbers {
    margin-bottom: -1.55rem;
}

@media (min-width: 768px) {
    p {
        width: 573px;
    }

    .buttons {
        flex-direction: unset;
        margin-top: 32px;
    }

    .chat .download, .info {
        margin-top: 0;
    }

    .chat p {
        width: 457px;
        margin-top: 34px;
    }

    .footer {
        background: url("../assets/tablet/image-footer.jpg") no-repeat;
        background-size: 100vw;
    }

    .images {
        margin: 42px 0 0 0;
        flex-wrap: nowrap;
    }

    .images img {
        min-width: 164px;
        max-width: 255px;
        height: auto;
        margin: 6px;
    }
    
    .info {
        margin-left: 16px;
    }

    .numbers {
        margin-top: 80px;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 2.75rem;
        width: 445px;
    }

    h4 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    p {
        width: 540px;
        font-size: 1.125rem;
        line-height: 1.625rem;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .banner p {
        margin-left: 88px;
        margin-right: 88px;
    }

    .color-layer {
        height: 308px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer {
        background: url("../assets/desktop/image-footer.jpg") no-repeat;
        background-size: 100vw;
        height: 308px;
    }

    .footer p {
        width: 308px;
        margin-left: 125px;
        margin-right: 92px;
    }

    .images {
        margin-top: 39px;
    }

    .images img {
        width: 255px;
        height: auto;
        margin: 15px;
    }

    .img-hero-full {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .img-hero-left {
        visibility: visible;
        min-width: 430px;
        max-width: 100%;
        height: auto;
    }

    .img-hero-right {
        margin-top: 55px;
        visibility: visible;
        min-width: 430px;
        max-width: 100%;
        height: auto;
    }

    .numbers .chat {
        margin-top: 80px;
    }

    .numbers .meetings {
        margin-top: 72px;
    }
}