* {
    box-sizing: border-box;
}

html body {
    margin: 0;
}

body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Reed Hat Display', sans-serif;
    text-align: center;
    font-size: 16px;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 32px;
    font-size: 15px;
    font-weight: 900;
    border: none;
    border-radius: 11px;
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
}

button:hover {
    background-color: hsl(245, 83%, 68%);
}

h1 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 17px;
    color: 	hsl(223, 47%, 23%)
}

.attribution {
    font-size: 11px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 48px;
    text-decoration: none;
}

.cancel:hover {
    color: 	hsl(223, 47%, 23%);
}

.change-plan {
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    margin-right: 24px;
}

.change-plan:hover {
    color: hsl(245, 83%, 68%);
}

.current-plan {
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: auto;
    color: 	hsl(223, 47%, 23%)
}

.description {
    font-weight: 500;
    line-height: 26px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}

.illustration-hero {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.music-icon {
    margin-left: 24px;
    margin-right: 20px;
}

.payment-button {
box-shadow(0 px 20 px 20 px rgba(13, 48, 189, 0.151826));
}

.plan-selection {
    background-color: hsl(225, 100%, 98%);
    height: 98px;
    margin-bottom: 32px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.plan-selection div {
    text-align: center;
}

.price {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    margin-top: 8px;
    margin-bottom: 24px;
}

.summary-area {
    width: 354px;
    margin: 45px 48px 0 48px;
}

#order-summary-component {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 697px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}